.about-main {
    background-color: #ffffffd8;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
}
.about-us {
    max-width: 1000px;
    margin: auto;
    background-color:#ffffff;
}

#founder {
    text-decoration: none;
    outline: none;
    color: #333;
}

#founder:hover {
    text-decoration: underline;
}
