
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../static/CSS/header.css">
    <link rel="stylesheet" href="../static/CSS/home.css">
    <link rel="stylesheet" href="../static/CSS/navs.css">
    <link rel="stylesheet" href="../static/CSS/about.css">
    <link rel="stylesheet" href="../static/CSS/footer.css">
    <script src="https://kit.fontawesome.com/04cc8332d9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/04cc8332d9.js" crossorigin="anonymous"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <header>
        <h1>Welcome to Our Website</h1>
        <div class="accounts-drive">
            <div id="accounts">
                <a href="/">
                    <img src="../static/images/user_860784.png" alt="Login" class="login">
                </a>
                <ul class="accounts-dropdown">
                    <li><a id="loginBtn">Login</a></li>
                    <li><a id="signUpBtn">Signup</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav>
        <ul class="navs">
            <li><a href="{{ url_for('home') }}">HOME</a></li>
            <li><a href="#dinners">DINNERS</a></li>
            <li><a href="#meals">MEALS</a></li>
            <li><a href="#ingredients">INGREDIENTS</a></li>
            <li><a href="#occasions">OCCASIONS</a></li>
            <li>
                <a href="#cuisines">CUISINES</a>
                <ul class="dropdown">
                    <li><a href="#">Germany</a></li>
                    <li><a href="#">Japan</a></li>
                    <li><a href="#">Kenya</a></li>
                    <li><a href="#">Russia</a></li>
                </ul>
            </li>
            <li><a href="#kitchen-tips">KITCHEN TIPS</a></li>
            <li><a href="#features">FEATURES</a></li>
            <li><a href="{{ url_for('scheme.about') }}">ABOUT US</a></li>
        </ul>
        <div class="menu-bar">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
    
    <main class="about-main">
        <section class="about-us">
            <div class="about-text">
                <h1>Welcome to CulinaryEase</h1>
                <p>At CulinaryEase, we are dedicated to transforming your cooking experience into a culinary journey filled with creativity, flavor, and community. Whether you're an aspiring chef or a home cook, our platform offers a range of tools and features designed to inspire, educate, and connect.</p>

                <h2>Our Mission</h2>
                <p>Our mission is to empower food enthusiasts of all skill levels to explore new cuisines, discover unique recipes, and master the art of cooking. We believe that cooking is more than just preparing meals—it's an expression of creativity, culture, and passion. CulinaryEase is your companion on this delicious adventure.</p>

                <h2>Meet the Team</h2>
                <p>Behind CulinaryEase is a team of passionate individuals who share a love for food and technology. Our diverse backgrounds and expertise come together to create a platform that caters to your culinary needs.</p>

                <h3><a href="{{ url_for('scheme.portfolio') }}" id="founder">Ochieng Colin - Founder & Developer</a></h3>
                <p>Ochieng Colin is the visionary founder of CulinaryEase. With a background in web development and a passion for cooking, he saw the opportunity to merge technology and gastronomy into a seamless platform that enriches your cooking experience.</p>

                <h2>Contact Us</h2>
                <p>We'd love to hear from you! Whether you have questions, suggestions, or just want to share your culinary journey, feel free to reach out to us. You can find our contact details on the <a href="mailto:colinokumu89@gmail.com?subject=Suggestions&body=Message%20content">Contact</a> page.</p>
            </div>
        </section>
    </main>

    <footer class="webpage-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Recipes.com</h3>
              <img src="../static/images/logo.png" style="border-radius:4px" alt="Logo" width="100" height="100">
              <p>Recipes.com is a website that provides delicious and easy recipes for everyone. Whether you are looking for breakfast, lunch, dinner, dessert, or snack ideas, you will find them here. You can also browse recipes by cuisine, ingredient, diet, occasion, and more.</p>
            </div>
            <div class="col-md-4">
              <h3>Navigation</h3>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="/new_recipe">New Recipe</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3>Social Media</h3>
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/recipes"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/recipes"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/recipes"><i class="fa fa-instagram"></i></a></li>
                <a href="https://discord.com/channels/@me"><i class="fa-brands fa-discord"></i></a>
                <a style="display: block;" href="https://medium.com/@colinatjku/crafting-culinaryease-a-recipe-sharing-journey-602cbd613b5b"><i class="fa-brands fa-medium"></i></a>
              </ul>
              <h3>Newsletter</h3>
              <p>Subscribe to our newsletter and get the latest recipes delivered to your inbox.</p>
              <form action="subscribe.php" method="post">
                <input type="email" name="email" placeholder="Enter your email" class="footer-input" required>
                <button type="submit">Subscribe</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <p class="disclaimer"><a href="terms.html">Terms and Conditions</a> | <a href="privacy.html">Privacy Policy</a> | <a href="cookies.html">Cookie Policy</a></p>
              <p class="copy">&copy; CulinaryEase.com 2023. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>    
  </body>
</html>
