<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <h1>Place of Your Choice</h1>
    </header>
        <section>
            <form action="{{ url_for('scheme.handle_form') }}" method="post">
                <div class="sign">
                    <h3>Login</h3>
                </div>
                <div>
                    <input type="text" id="email", name="email" placeholder="Email">
                </div>
                <div>
                    <input type="password" id="password", name="password" placeholder="Password" required>
                </div>
                <div class="btn">
                    <input id="btn_input" type="submit" value="Login">
                    <p style="padding-top: 30px;">Don't have an account? <a id="to_signin" href="{{ url_for('scheme.sign_up') }}">Signup</a></p>
                </div>    
            </form>
        </section>
    <footer>
        <p><strong>Explore your skills</strong></p>
    </footer>
</body>
</html>